version: "3.8"

services:
  app:
    container_name: portfolio-v2
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ../.env.local
    environment:
      - NODE_ENV=production
    restart: always
